@{
    ViewData["Title"] = "Post - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Portfolio.Models.Post

<h2>Add a new post</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)
    <br>
    @Html.LabelFor(model => model.Content)
    <br>
    @Html.TextAreaFor(model => model.Content, 
    new { style = "width: 400px; height: 200px;" })
    <br>
    <input type="submit" value="Create" class="btn btn-alert"= />
}
@Html.ActionLink("Back to List", "Index")